* {
    margin: 0;
    padding: 0;
}

body {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header header"
        "nav nav nav nav nav"
        "main main main main aside"
        "footer footer footer footer footer"
}

header {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

nav {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    
}

main {
    background-color: darkblue;
}

aside {
    background-color: lightgreen;
}

footer {
    background-color: darkgreen;
}

nav a {
    text-decoration: none;
    color: black;
}